html, body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif
}

h1 {font-size: 3rem; margin: 0 0 6rem;}
h2 {font-size: 1rem; margin: 2rem 0 6rem;}
p {font-size: 1.2rem;}

main {
  display: flex;
  background: #121126;
  color: #eee;
  padding: 3rem;
  flex-direction: column;
}
header {
  width: 100vw;
}
.episode-container {
  display: flex;
  gap: 3rem;
}
section {
  border-top: .6rem solid #eee;
  display: flex;
  flex-direction: column;
}

section#episodes {
  width: 40%;
}

section#details {
  width: 60%;
}

ul.episode-list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
}

.episode-list li {
  cursor: pointer;
  padding: 1rem 0;
  color: #aaa;
  border-bottom: 1px solid #274259;
}

.episode-list li:hover {
  color: #eee;  
  border-bottom: 1px solid #F24738;
}


section#details h2 {
  font-size: 2rem;
}


section#details button {
  font-size: 1.4rem;
  padding: 1rem;
  background: transparent;
  border: 1px solid #F24738;
  color: #F24738;
  border-radius: .5rem;
}
section#details button:hover { 
  color: #eee;
}